@using BizimBahceDatabaseWork.Models.Entities
@model List<About>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_OliveLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">



<body>
    <!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar">

    </div>
    <!-- Navbar End -->
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Hakkımızda</h1>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Hakkımızda</h4>
                <h1 class="display-4">1998'den Beri Sofralarınızdayız</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 py-0 py-lg-5">
                    <h1 class="mb-3">Misyonumuz</h1>
                    @foreach (var item in Model)
                    {
                        <p>@item.Mission</p>
                    }
                </div>
                <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="~/web/img/akis.png" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-4 py-0 py-lg-5">
                    <h1 class="mb-3">Vizyonumuz</h1>
                    @foreach (var item in Model)
                    {
                        <p>@item.Vision</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Footer Start -->
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

</body>

</html>