
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_OliveLayout.cshtml";
}

<html lang="en">



<body>
    <!-- Navbar Start -->
    

    <div class="container-fluid p-0 mb-5">
        <div id="blog-carousel" class="carousel slide overlay-bottom" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="~/web/img/zeyt2.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h2 class="text-primary font-weight-medium m-0">Bahçemizden Sofranıza</h2>
                        <h6 class="display-1 text-white m-0">Bizim Bahçe</h6>
                        <h7 class="display-1 text-white m-0">Zeytin Yağı</h7>
                        <h2 class="text-white m-0"> 1993'den Beri </h2>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="~/web/img/zeyt.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h2 class="text-primary font-weight-medium m-0">Bahçemizden Sofranıza</h2>
                        <h6 class="display-1 text-white m-0">Bizim Bahçe</h6>
                        <h7 class="display-1 text-white m-0">Zeytin Yağı</h7>
                        <h2 class="text-white m-0"> 1993'den Beri </h2>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#blog-carousel" data-slide="prev">
                <span class="~/web/carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#blog-carousel" data-slide="next">
                <span class="~/web/carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Hakkımızda</h4>
                <h1 class="display-4">2020'den Beri Sofralarınızdayız...</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 py-0 py-lg-5">
                    <h1 class="mb-3">Hikayemiz</h1>
                    <h5 class="mb-3">Dalından koparak sofranıza gelen soğuk sıkım zeytinyağlarımızı siz müşterilerimize servis etmekten mutluluk duyuyoruz</h5>
                    <p>Balıkesir'in Gönen ilçesinden toplanan en güzel ve en organik zeytinleri toplayıp, değirmenlerimizde soğuk sıkım yaptıktan sonra hiçbir koruyucu, katkı maddesi eklemeden siz değerli müşteriliermizin sofralarına yolcu ediyoruz. </p>
                </div>
                <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="~/web/img/akis.png" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-4 py-0 py-lg-5">
                    <h1 class="mb-3">Vizyonumuz</h1>
                    <p>Zeytinyağı mucizevi besinlerden biridir. Akdeniz ülkelerinde yetişen zeytin ağaçlarındaki zeytinlerden elde edilen zeytinyağı doğal bir şifa kaynağıdır. Vücudu yenileyen, kanserli hücrelere karşı savaşan zeytinyağı doymamış yağ asitleri ile aynı zamanda antioksidan açısından da zengindir. Cilt ve saç bakımı için de kullanımı önerilir</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Service Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Ürünlerimiz Hakkında</h4>
                <h1 class="display-4">Taze & Doğal Zeytinyağları</h1>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="~/web/img/dene3.png" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="~/web/fa fa-truck service-icon"></i>Hızlı Ulaştırma</h4>
                            <p class="m-0">
                                Siparişl vermiş olduğunuz zeytinyağlarınız, siz siparişi verdiğiniz andan itibaren 1 gün süre ile adresinize kargolanmaktadır. Üstelik şeffaf kargo ile ulaşım sağlanmaktadır.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="~/web/img/dal.png" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="~/web/fa fa-coffee service-icon"></i>Taze Dalından Zeytin Yağı</h4>
                            <p class="m-0">
                                Dalından toplamış olduğumuz zeytinyağlarımızı siz değerli tüketicilerimizin sofralarına hiçbir katkı maddesi kullanmadan sunmaktayız.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="~/web/img/dal2.png" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="~/web/fa fa-award service-icon"></i>En İyi Kalite</h4>
                            <p class="m-0">
                                En kaliteli zeytinlerden yapılan zeytinyağlarımız doğal olarak en kaliteli şekilde sizlerle buluşmaktadır.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="~/web/img/yemek.png" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="~/web/fa fa-table service-icon"></i>Tüketimi</h4>
                            <p class="m-0">
                                Yumuşak tadı ile zeytinyağlarımızı ister zeytin ile birlikte ister ise yemeklerinizde gönül rahatlığı ile kullanabilirsiniz.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
    <!-- Offer Start -->
    <!-- Offer End -->
    <!-- Menu Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Zeytinyağı Çeşitlerimiz & Fiyatlarımız</h4>
                <h1 class="display-4">Bütçe Dostu Fiyatlandırma</h1>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mb-5">Taze Sıkım</h1>
                    <div class="row align-items-center mb-5">
                        <div class="col-4 col-sm-3">
                            <img class="w-100 rounded-circle mb-3 mb-sm-0" src="~/web/img/oil3.png" alt="">
                            <h5 class="menu-price">150</h5>
                        </div>
                        <div class="col-8 col-sm-9">
                            <h4> 2 Litrelik Teneke </h4>
                            <p class="m-0">Şifanız 2 Litrelik şişelerimizde sizleri bekliyor.</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <h1 class="mb-5">Soğuk Sıkım</h1>
                    <div class="row align-items-center mb-5">
                        <div class="col-4 col-sm-3">
                            <img class="w-100 rounded-circle mb-3 mb-sm-0" src="~/web/img/yemek.png" alt="">
                            <h5 class="menu-price">440</h5>
                        </div>
                        <div class="col-8 col-sm-9">
                            <h4>Standart 5 Litre</h4>
                            <p class="m-0">5 Litrelik Teneke Zeytinyağı ile doyasıya şifa deposu</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

</body>

</html>

