
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Panel Girişi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/login/css/style.css">

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section"><i>BizimBahçe</i> Admin Paneli Giriş Ekranı</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap py-5">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(https://i.hizliresim.com/oth3ni3.png);"></div>
                        <h3 class="text-center mb-0">Hoşgeldiniz</h3>
                        <p class="text-center">Admin Panel İçin Giriş Yapınız</p>
                        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                        {
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                                <input type="text" class="form-control" name="Username" placeholder="Kullanıcı Adı" required>
                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                                <input type="password" class="form-control" name="Password" placeholder="Şifre" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn form-control btn-primary rounded submit px-3">Giriş</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/login/js/jquery.min.js"></script>
    <script src="~/login/js/popper.js"></script>
    <script src="~/login/js/bootstrap.min.js"></script>
    <script src="~/login/js/main.js"></script>

</body>
</html>

